
        @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
        .rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body{
    font-family: "Rajdhani", sans-serif;
}
.content .content-in p{
    line-height: 40px;
    text-indent: 60px;
    font-family: "Rajdhani ",sans-serif;


    
}
body{
    background-color: rgb(164, 181, 179);
    font-size: 20px;
    
    line-height: 36px;
}
.content h1
{
    font-size: 60px;
    
}
p{
    color: rgb(65, 72, 72);
    font-family: "Rajdhani ",sans-serif;
}
  

