body {
    font-family: Arial, sans-serif;
    background-color:rgb(149, 158, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-box {
    background-color: #62676c;
    /* background: transparent; */
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-box h2 {
    margin-top: 0;
}

.profile-box p {
    margin: 10px 0;
}

.button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.reported-issues {
    background-color: #baebd5;
}

.logout {
    background-color:  #baebd5;
}

.change-password {
    background-color: #baebd5;
}

.reported-issues:hover {
    background-color:  #baebd5;
}

.logout:hover {
    background-color:  #baebd5;
}

.change-password:hover {
    background-color:  #baebd5;
}